.accent_0 {
	--accentColor: #0066ff;
}
.accent_1 {
	--accentColor: #7a86cb;
}
.accent_2 {
	--accentColor: #ba68c6;
}
.accent_3 {
	--accentColor: #fd8b64;
}
.accent_4 {
	--accentColor: #acd580;
}
.accent_5 {
	--accentColor: #fcd450;
}
.accent_6 {
	--accentColor: #4db6ac;
}
.accent_7 {
	--accentColor: #ee6390;
}
.accent_8 {
	--accentColor: #e57375;
}
.accent_9 {
	--accentColor: #ff8a66;
}
.dark_theme .searchResults {
	background: rgb(17, 17, 17) !important;
}
.dark_theme .fullScreenPlayingPane {
	background: rgb(17, 17, 17) !important;
}
.dark_theme .MixCard .cardContent {
	background: rgb(17, 17, 17) !important;
}
.dark_theme .trackOptions {
	background: rgb(17, 17, 17) !important;
}
.dark_theme .Settings {
	background: rgb(17, 17, 17) !important;
}
.dark_theme .PlaylistCard {
	background: rgb(14, 14, 14) !important;
}
.dark_theme .card {
	background: rgb(20, 20, 20) !important;
}
.dark_theme.playlistOption {
	background: rgb(10, 10, 10) !important;
	border: 1px rgb(10, 10, 10) solid;
}
.dark_theme.playlistOption img {
	filter: none !important;
}
.dark_theme.playlistOption p {
	color: white !important;
}

.dark_theme .sliverBar #blurred {
	display: none !important;
}
