.blurred_bg.blur10 {
	backdrop-filter: blur(10px);
}
.blurred_bg.blur20 {
	backdrop-filter: blur(20px);
}
.blurred_bg.blur30 {
	backdrop-filter: blur(30px);
}
.blurred_bg.blur40 {
	backdrop-filter: blur(40px);
}

.bg1 {
	background: rgba(255, 255, 255, 0.05);
}

.bg2 {
	background: rgba(255, 255, 255, 0.1);
}
.bg3 {
	background: rgba(255, 255, 255, 0.15);
}
.bg4 {
	background: rgba(255, 255, 255, 0.2);
}

.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex.center-v {
	align-items: center;
}
.flex-col.center-h {
	justify-content: center;
}
.flex.center-a {
	align-items: center;
	justify-content: center;
}
.flex-col.center-a {
	align-items: center;
	justify-content: center;
}
.flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_auto {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.gap5 {
	gap: 5px;
}
.gap10 {
	gap: 10px;
}
.gap20 {
	gap: 20px;
}
.gap30 {
	gap: 30px;
}
.gap40 {
	gap: 40px;
}
.grid_auto {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.grid_auto_big {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.grid2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 10px;
	align-items: center;
	justify-content: center;
}
.grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
}
.grid4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 10px;
}
.grid5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 10px;
}
.grid6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	row-gap: 10px;
}

.text-thin {
	font-family: roboto-thin;
}
.text-light {
	font-family: roboto-light;
}

.text-small-0 {
	font-size: 1rem;
}
.text-small-1 {
	font-size: 0.9rem;
}
.text-small-2 {
	font-size: 0.8rem;
}
.text-small-3 {
	font-size: 0.7rem;
}

.fade_to_8 {
	opacity: 0.8;
}
.fade_to_7 {
	opacity: 0.7;
}
.fade_to_6 {
	opacity: 0.6;
}

.bg_active {
	background: var(--accentColor);
}

.hide_this {
	display: none;
}

.circle {
	border-radius: 50%;
}

.shrink_icon img {
	transform: scale(0.7);
}

.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.mr5 {
	margin-right: 5px;
}
.mtr10 {
	margin-right: 10px;
}
.ma10 {
	margin: 10px;
}

.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pr5 {
	padding-right: 5px;
}
.ptr10 {
	padding-right: 10px;
}
.pa5 {
	padding: 10px;
}
.pa10 {
	padding: 10px;
}

.border_split {
	border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}
